<div class="one-way" @click="find_trip('{{start.name}}', '{{end.name}}')">
  <div class="delivery-road">	
    <div class="from">{{start.name}}<span class="country">, {{start.country}}</span></div>
    <div class="way-line animate"><div></div></div>
    <div class="to">{{end.name}}<span class="country">, {{end.country}}</span></div>
  </div>
  <div class="delivery-res">
    <div class="price">от {{min_price}} руб.</div>
    <div class="time"><span>время доставки</span> ~{{avg_time}} часов</div>
  </div>
</div>
