{% load avatar %}
<div class="deal-questions-row {% if answer %}offset-one{% endif %}">
  {% avatar question.message.author %}
  <div class="av-desc">
    <div class="av-name"><a href="{{question.author.get_url}}"><strong>{{question.message.author.name_public}}</strong></a></div>
    <div class="av-trtype"><span>{{question.message.from_now}}</span></div>
  </div>
  <p class="desc">{{question.message.text}}</p>
  <div class="if-auth to-answer"><a href="#" onclick="loadPopup('/comments/question/{{question.id}}/answer')">Ответить</a></div>
  {% for ans in question.message.answers.all %}
    {% include "/comments/question.html" with question=ans answer=True only %}
  {% endfor %}
</div>
