{% load calendar %}
<script>
function f_add_parcel() {
/*
    var _from=document.getElementById('from');
    var _to=document.getElementById('to');
    var _date=document.getElementById('date');
    var _name=document.getElementById('name')
    var _comment=document.getElementById('descr');
    var _max_price = document.getElementById('max_price');
    var _img = document.getElementById('parcel_img');
    add_parcel(_from.value, _to.value, _date.value, _name.value, _comment.value, _max_price.value, _img.file.files[0]);
*/
  document.getElementById('new_parcel_form').submit();
}
</script>

  <form class="add-new-form" action="/transport/add_parcel" target="_parent" method="post" id="new_parcel_form">
  {% csrf_token %}
  <div class="add-tash-h">
    <h4>Создать заказ</h4>
  </div>
  <p>Фото посылки (добавьте минимум одно изображение)</p>
  <div class="file_button_container">
    <input type="file" id="parcel_image" style="display:none;">
    <button type="button" class="btn nofill-btn" onclick="document.getElementById('parcel_image').click()">
      <svg width="26" height="20" vector-effect="non-scaling-stroke" class="icon camera-icon" viewBox="0 0 27 21"><path stroke="#ff806f" d="M25.5 5v13c0 .8-.7 1.5-1.5 1.5H2c-.8 0-1.5-.7-1.5-1.5V5c0-.8.7-1.5 1.5-1.5h5c.3 0 .5-.1.6-.4l1.1-1.9C9 .7 9.5.5 10 .5h5.6c.5 0 1 .3 1.3.7L18 3.1c.1.2.4.4.6.4H24c.8 0 1.5.7 1.5 1.5z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></path><circle cx="13" cy="10.9" r="5.5" stroke="#ff806f" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></circle></svg> 
      Загрузить фото
    </button>
  </div>
  <p class="direction-lbl">
    <!--<label for="name" class="input">Название посылки</label>-->
    <input id="name" name="name" class="name" value="" placeholder="Название посылки"></p>
  <p class="direction-lbl">
<!--     <label for="descr" class="input">Описание</label> -->
    <input id="descr" name="descr" class="descr" value="" placeholder="Описание"></p>
  <p class="direction-lbl">
<!--     <label for="max_price" class="input">Максимальная цена за доставку, руб</label> -->
    <input class="maxprice" name="max_price" value="" placeholder="Максимальная цена за доставку, руб">
  </p>
  <p class="direction-lbl">
    <label for="from" class="input">из</label>
    <input id="from" name="from" class="from" value="" placeholder="Город">
  </p>
  <p class="direction-lbl">
    <label for="to" class="input">в</label>
    <input id="to" class="to" name="to" value="" placeholder="Город">
  </p>
  <p class="direction-lbl">
    <input class="time calendar" name="date" value="" placeholder="Дата поездки">
    {% calendar %}
  </p>
  <p>
    <button class="btn btn-small blk" onclick="f_add_parcel()">Добавить заказ</button>
  </p>
  </form>
