{% load calendar %}
{% load timeinput %}
{% load edit %}
<script>
function f_add_parcel() {
/*
    var _from=document.getElementById('from');
    var _to=document.getElementById('to');
    var _date=document.getElementById('date');
    var _name=document.getElementById('name')
    var _comment=document.getElementById('descr');
    var _max_price = document.getElementById('max_price');
    var _img = document.getElementById('parcel_img');
    add_parcel(_from.value, _to.value, _date.value, _name.value, _comment.value, _max_price.value, _img.file.files[0]);
*/
  //document.getElementById('new_parcel_form').submit();
  $('.input-error').hide()
  $('#new_parcel_form').ajaxForm()
  $('#new_parcel_form').ajaxSubmit({
      type:'POST',
      success:function(responseText, statusText, xhr, form_el ){alert('OK')},
      error:function(responseText, statusText, xhr, form_el){
        //alert('Error')
        console.log(responseText.responseJSON)
        //console.log(xhr.responseText)
        var data = responseText.responseJSON
        var f=false
        for(d in data.errors){
          $('#'+d+"_error").show()
          $('#'+d+"_error").html(data.errors[d])
          if(!f){
            $('#'+d).scrollintoview()
            f=true
          }
        }
      }
    });
}
function initPopup() {
    //initCalendar();
}
</script>

  <form class="add-new-form" action="/transport/add_parcel" target="_parent" method="post" id="new_parcel_form">
  {% csrf_token %}
  {{parcel}}
  <div class="add-tash-h">
    <h4>Создать заказ</h4>
  </div>
  <p>Фото посылки (добавьте минимум одно изображение)</p>
  <div class="file_button_container">
    <input type="file" id="parcel_image" style="display:none;">
    <button type="button" class="btn nofill-btn" onclick="document.getElementById('parcel_image').click()">
      <svg width="26" height="20" vector-effect="non-scaling-stroke" class="icon camera-icon" viewBox="0 0 27 21"><path stroke="#ff806f" d="M25.5 5v13c0 .8-.7 1.5-1.5 1.5H2c-.8 0-1.5-.7-1.5-1.5V5c0-.8.7-1.5 1.5-1.5h5c.3 0 .5-.1.6-.4l1.1-1.9C9 .7 9.5.5 10 .5h5.6c.5 0 1 .3 1.3.7L18 3.1c.1.2.4.4.6.4H24c.8 0 1.5.7 1.5 1.5z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></path><circle cx="13" cy="10.9" r="5.5" stroke="#ff806f" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></circle></svg> 
      Загрузить фото
    </button>
  </div>
  <input id="id" name="id" style="display:none" value="{{parcel.id}}" />
  <p class="direction-lbl">
    <!--<label for="name" class="input">Название посылки</label>-->
    {% edit id="name" _class="name" value=parcel.description placeholder="Название посылки" %}
  </p>
  <p class="direction-lbl">
    {% edit id="descr" _class="descr" value=parcel.comment placeholder="Описание" %}
  </p>
  <p class="direction-lbl">
    {% edit id="weight" _class="maxprice" value=parcel.weight placeholder="Вес, кг" %}
  </p>

  <p class="direction-lbl">
    {% edit id="max_price" _class="maxprice" value=parcel.max_price placeholder="Максимальная цена за доставку, руб" %}
  </p>
  <p class="direction-lbl">
    {% edit id="from" _class="from" value=parcel.origin.city.name placeholder="" label="из" container_class="direction-lbl" %}
  </p>
  <p class="direction-lbl">
    {% edit id="to" _class="to" value=parcel.destination.city.name placeholder="" label="в" container_class="direction-lbl"%}
  </p>
  <p class="direction-lbl">
    {% edit id="trip_date" name="date" _class="time calendar" value=parcel.due_day.isoformat placeholder="Доставить до" show_calendar=True calendar_d=parcel.due_day %}
    {% timeinput "time" "time" parcel.due_time %}
  </p>
  <p>
    <button type="button" class="btn btn-small blk" onclick="f_add_parcel()">{% if parcel %}Сохранить{% else %}Добавить заказ{% endif%}</button>
  </p>
  </form>
