{% load calendar %}
<div class="add-newtask">
  <div class="add-tash-h">
	<img src="files/add-new-task.png">
	<h4>Добавить поездку</h4>
	<p>сообщите о поездке остальным, чтообы зарабатывать в каждом путешествии</p>
  </div>
  <p class="direction-lbl"><label for="from" class="input">из</label><input id="from" class="from" value="Москва" placeholder="Город"></p>
  <p class="direction-lbl"><label for="to" class="input">в</label><input class="to" id="to" value="Тверь" placeholder="Город"></p>
  <p class="direction-lbl"><input class="time" id="trip_date_input" value="" placeholder="Дата поездки">
  {% calendar "trip_date" %}
  </p>
  <!--<div class="what-transport">
  <p>На чем поедете?
  <a href="#"><img src="files/train.svg" width="36px"/></a>
  <a class="plan" href="#"><img src="files/t-plan.svg" width="36px"></a>
  <a class="car" href="#"><img src="files/t-car.svg" width="40px"></a>
  </p>
  </div>-->

  <div class="task-alerting switch"><span>Уведомлять о новых заявках</span>
	<input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked="checked">
	<label for="cmn-toggle-4"></label>
  </div>		
  <p><button class="btn btn-small blk">Добавить поездку</button></p>
</div>