{% load calendar %}
<div class="add-newtask">
  <div class="add-tash-h">
    <img src="/static/files/add-new-task.png">
    <h4>Добавить заказ</h4>
    <p>отправьте посылку с попутчиками надежно, быстро и дешево.</p>
  </div>
  <p class="direction-lbl"><label for="from" class="input">из</label><input id="from" class="from" value="Москва" placeholder="Город"></p>
  <p class="direction-lbl"><label for="to" class="input">в</label><input class="to" id="to" value="Тверь" placeholder="Город"></p>
  <p class="direction-lbl"><input class="time calendar" id="due_date_input" value="" placeholder="Доставить до">
  {% calendar "due_date" %}
  </p>
  <p class="place"><a href="#">Уточнить место встречи</a></p>
  <div class="task-alerting switch"><span>Уведомлять о предложениях доставки</span>
    <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked="checked">
    <label for="cmn-toggle-4"></label>
  </div>
  <p><button class="btn btn-small blk">Добавить заказ</button></p>
</div>
