{% load calendar %}
{% load timeinput%}
{% load edit %}
<script>

 
function initPopup() {
    //initCalendar();
}
</script>

<form class="add-new-form" action="/transport/add_trip" target="_parent" method="post" id="new_trip_form">
  {% csrf_token %}
  <div class="add-tash-h">
    <img src="/static/files/add-new-task.png">
    <h4>Добавить поездку</h4>
    <p>сообщите о поездке остальным, чтообы зарабатывать в каждом путешествии</p>
  </div>
  <div class="tab">
    <ul class="tabs active">
        <li id="single" class="current"><a href="#">Разовая поездка</a></li>
        <!--
        <li id="return"><a href="#">Туда-Обратно</a></li>
        <li id="regular"><a href="#">Езжу постоянно</a></li>
        -->
    </ul>
    <div class="tab_content">
      <div class="tabs_item">
        {% edit id="from_single" name="from" _class="from" value="" placeholder="Город" label="из" container_class="direction-lbl" %}
        {% edit id="to_single" name="to" _class="to" value="" placeholder="Город" label="в" container_class="direction-lbl" %}

        {% edit id="trip_start" name="date" _class="time calendar" value="" placeholder="Выезжаю" show_calendar=True %}
        {% timeinput "time_start" "time" %}

        {% edit id="trip_end" name="date_end" _class="time calendar" value="" placeholder="Приезжаю" show_calendar=True %}
        {% timeinput "time_end" "time_end" %}

        {% edit id="min_price" _class="maxprice" value="" placeholder="Цена за посылку, руб" %}
        {% edit id="max_weight" _class="maxprice" value="" placeholder="Вес посылки не более, кг" %}

        <p><button onclick="f_add_single_trip()" type="button" class="btn btn-small blk">Добавить поездку</button></p>
      </div>
    </div>
  </div>
</form>