<form class="add-new-form" method="post" action="/transport/parcel/{{parcel.id}}/offer_trip">
  {% csrf_token %}
  <div id="deal-offer">	
    <p><strong>Укажите желаемую стоимость доставки</strong></p>
    <input class="deal-price" name="price" id="deal-price" value="{{parcel.max_price}}" placeholder="100 р.">
  </div>
  <h4>Уточните маршрут</h4>
  <p class="wayname">Ваши текущие поездки</p>
  <input id="trip_id" style="display:none" name="trip" value="" />
  {% for trip in trips %}
  <div class="offers-list-row columns">
    <div class="transporter-info c8">
      <p class="delivery-date"><strong>{{trip.start_date}}</strong></p>
      <p class="direction">{{trip.route.start}} <span>→</span> {{trip.route.end}} </p>
    </div>
    <div class="transporter-info c4">
      <div class="take-order"><button type="submit" onclick="document.getElementById('trip_id').value='{{trip.id}}';" class="btn-small emptycolor">Выбрать</button></div>
    </div>
  </div>
  {% endfor %}
	<p><button type="button" onclick="" class="btn btn-small blu">или Добавьте новую поездку</button></p>
	<!--<p><button type="submit" class="btn blk">Отправить предложение {{parcel.owner.name_public}}</button></p>-->
</form>