<div class="transporter-name c12 xsc12">
    <div class="avatar"><a href="#"><img src="{{parcel.owner.avatar.image.url}}"></a></div>
    <div class="av-name"><a href="#"><strong>{{parcel.owner.first_name}}</strong></a> <span class="reg-date">разместил(а)</span></div>
    <span class="reg-date">{{parcel.creation_date}}</span>
</div>
<div class="c12 xsc12 columns">
  <div class="c2 xsc4">
    <div class="whatsend"><img src="{{parcel.image.url}}"></div>
  </div>
  <div class="transporter-info c5 xsc8">
    <h5 class="whatsend">{{parcel.description}}</h5>
    <p class="delivery-date"><strong>{{parcel.due_date}}</strong></p>
    <p class="direction">{{parcel.origin.city.name}} <span>→</span> {{parcel.destination.city.name}}</p>
    <p class="place"><span>Место встречи: </span>{{parcel.origin.address}}</p>
  </div>
  <div class="transport-info c5 xsc12">		
    <p class="price"><strong>до {{parcel.max_price}} р.</strong></p>		
    <p class="max-weight">вес до {{parcel.weight}} кг</p>
    <div class="take-order-qty"><a href="#">{{parcel.offer_set_count}}</a></div>
    <div class="take-order"><button href="#deal-offer" class="popup-trigger btn btn-small orng">Предложить доставить</button></div>
  </div>
</div>