{% load calendar %}
{% load edit %}
<section class="banner">
  <div class="mainban sender-baner short">
    <div class="container">	
    <div class="search-form">
      <div class="inpt">
        <!--<input id="trip_orig" type="text" value="{{origin}}" placeholder="Откуда">-->
        {% edit id="trip_orig" url="/city" value=origin placeholder="Откуда" %}
      </div>
      <div class="inpt chang-icon">→<br>←</div>
      <div class="inpt">
        <!--<input id="trip_dest" type="text" value="{{destination}}" placeholder="Куда">-->
        {% edit id="trip_dest" url="/city" value=destination placeholder="Куда" %}
      </div>
      <div class="inpt">
        <!--
        <input id="due_date_input" type="text" value="{{due_date}}" class="calendar" value="" placeholder="Любая дата">
        {% calendar "due_date" %}
        -->
        {% if due_date %}
          {% edit id="due_date" _class="time calendar" value=due_date.isoformat placeholder="Любая дата" show_calendar=True calendar_d=due_date %}
        {% else %}
          {% edit id="due_date" _class="time calendar" value="" placeholder="Любая дата" show_calendar=True %}
        {% endif %}
      </div>
      <button class="btn blu" onclick="_find_trip()" >Найти перевозчика</button>
    </div>
    <p class="create-alerting"><a href="#"><img src="/static/files/notification-empt.svg"> Создайте уведомление</a>, не пропускайте новые поездки</p>
    </div>
  </div>
</section>

<script>
  function _find_trip () {
    var orig=document.getElementById('trip_orig');
    var dest=document.getElementById('trip_dest');
    var date=document.getElementById('due_date');
    document.location = '/transport/trip_search?origin='+orig.value+'&destination='+dest.value+'&date='+date.value;
  }
</script>