{% extends "globals/base.html" %}

{% block content%}

{% include "transport/trip_search_form.html" with origin=origin destination=destination due_date=due_date only %}

<section class="task-list container15">
  <div class="columns">
    <div class="c9 xsc12">
      <div class="list-controls">
        <div class="delievery-time"><span>Время доставки</span> <strong>{{avg_time}}</strong></div>
        <!--<div class="sort-by"><span>отсортировано </span><a href="#">по времени доставки ↓</a></div>-->
        <div class="clear"></div>
      </div>
      {% if trips %}
      {% for trip in trips %}
          {% include "transport/trip.html" with trip=trip only %}
      {% endfor %}
      {% else %}
        <div class="no-found">
        <p>Перевозчиков не найдено</p>
        <!--
        <button href="#" onclick="loadPopup('transport/add_trip')" class="popup-trigger btn orng">Предложить доставку</button>
        -->
      </div>
      {% endif%}
    </div>
    {% comment %}
    <div class="c3 xsc12">
      {% include "transport/new_trip.html"%}
    </div>
    {% endcomment %}
  </div>
</section>
{% endblock %}