{% load avatar %}
<div class="task-list-row columns">
  <div class="transporter-name c3 xsc12">
      {% avatar trip.rider %}
      <div class="av-desc">
        <div class="av-name"><a href="#"><strong>{{trip.rider.name_public}}</strong></a></div><div class="av-trtype"><span>{{trip.transport}}</span></div>
        <div class="stars">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#ff806f" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>		
          <strong>{{trip.rider.rider_rating}}/5</strong>
        </div>
        <div class="resp-qty"><a href="#">{{trip.rider.comment_set.count}} отзывов</a></div>
      </div>
  </div>
  <div class="c9 xsc12 columns">
  <div class="transporter-info c7 xsc12">
      <p class="delivery-date"><strong>{{trip.end_time}}</strong></p>
      <p class="direction">{{trip.route.start.name}} <span>→</span> {{trip.route.end.name}}</p>
      <p class="place"><span>Место встречи: </span>{{trip.meeting_place}}</p>
  </div>
  <div class="transport-info c5 xsc12">
      <div class="transport-type"><img src="files/train.svg" width="30px"></div>
      <p class="price"><strong>от {{trip.price}} р.</strong></p>
      <p class="max-weight">макс. {{trip.max_weight}} кг</p>
      <div class="take-order"><button onclick="loadPopup("/transport/trip/{{trip.id}}/offer_parcel")" href="#deal-offer" class="popup-trigger btn btn-small blu">Попросить о доставке</button></div>
  </div>
  </div>
</div>