{% load calendar %}

<script>
function f_find_parcel() {
  _from = document.getElementById('parcel_from').value;
  _to = document.getElementById('parcel_to').value;
  _date = document.getElementById('parcel_date').value;
  find_parcel(_from, _to, _date);
}
</script>

<section class="banner">

<div class="mainban transporter-ban">
	<div class="container">
	<h1>Зарабатывайте в каждой поездке с ЯЗабе.ру</h1>
	<div class="search-form">
		<div class="inpt"><input type="text" value="{{origin}}" id="parcel_from" placeholder="Откуда"/></div>
		<div class="inpt"><input type="text" value="{{destination}}" id="parcel_to" placeholder="Куда"/></div>
		<div class="inpt"><input type="text" class="calendar" value="" id="parcel_date" placeholder="Любая дата"/>
		{% calendar %}
    </div>
		
		<button class="btn orng" onclick="f_find_parcel()">Найти, что доставить</button>
	</div>
	</div>
</div>
</section>
