{% load calendar %}
{% load edit %}
<section class="banner">
<div class="mainban mainpage-ban">
	<div class="container">
	<h1>Передавайте посылки близким с попутчиками и экономьте до 75% на доставке</h1>
	<div class="search-form">
    <form method="get" action="/transport/trip_search">
    {% csrf_token %}
		<div class="inpt">
      {% edit id="origin" url="/city" value="" placeholder="Откуда" %}
      <!--<input id="origin" type="text" name="origin" value="" placeholder="Откуда"/>-->
    </div>
		<div class="inpt">
      {% edit id="destination" url="/city" value="" placeholder="Куда" %}
      <!--<input id="destination" type="text" name="destination" value=""  placeholder="Куда"/>-->
    </div>
		<div class="inpt">
      {% edit id="date" name="date" _class="time calendar" value="" placeholder="Любая дата" show_calendar=True %}
		</div>
		<!--<button class="btn orng">Найти заказы</button>-->
    <button class="btn blu">Найти перевозчика</button>
		</form>
    <!--<button class="btn blu">Найти перевозчика</button>-->
	</div>
	</div>
</div>
</section>
