{% load calendar %}
<script>
function f_find_trip() {
  _from = document.getElementById('trip_from').value;
  _to = document.getElementById('trip_to').value;
  _date = document.getElementById('trip_date').value;
  find_trip(_from, _to, _date);
}
</script>


<section class="banner">

<div class="mainban sender-baner">
	<div class="container">
	<h1>Отправляйте документы и посылки с ЯЗабе.ру<br>
<span>перевозчики доставят их как можно скорее</span></h1>
	<div class="search-form">
		<div class="inpt"><input type="text" id="trip_from" value="{{origin}}" placeholder="Откуда"/></div>
		<div class="inpt"><input type="text" id="trip_to" value="{{destination}}"  placeholder="Куда"/></div>
		<div class="inpt"><input type="text" id="trip_date" class="calendar" value=""  placeholder="Любая дата"/>
    {% calendar %}
		</div>
		<button class="btn blu" onclick="f_find_trip()">Найти перевозчика</button>
	</div>
	</div>
</div>
</section>
