{% load calendar %}
<section class="banner">
<div class="mainban mainpage-ban">
	<div class="container">
	<h1>Передавайте посылки близким с попутчиками и экономьте до 75% на доставке</h1>
	<div class="search-form">
		<div class="inpt"><input id="origin" type="text" value="Москва" placeholder="Откуда"/></div>
		<div class="inpt"><input id="destination" type="text" value=""  placeholder="Куда"/></div>
		<div class="inpt"><input id="date_input" type="text" class="calendar" value=""  placeholder="Любая дата"/>
    {% calendar "date" %}
		</div>
		<button class="btn orng" onclick="find_parcel()">Найти заказы</button>
		<!--<button class="btn blu">Найти перевозчика</button>-->
	</div>
	</div>
</div>
</section>
