{% load tz %}
<!DOCTYPE HTML>
<html>
<head>
<title>Сервис ЯЗаберу - отправляй быстро, экономь молча!</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&amp;subset=cyrillic" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
<link href="/static/files/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" charset="utf-8"  src="/static/files/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script src="/static/files/jquery.inputmask.bundle.js"></script>
<script type="text/javascript" src="/static/files/jquery.scrollintoview.min.js"></script>
<script type="text/javascript" charset="utf-8"  src="/static/files/yazaberu.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="/static/files/common.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<meta name="viewport" content="width=device-width">
</head>
<body>

{% timezone None %}
{% include "globals/header.html"%}

{% block content %}

{% endblock %}

{% if profile %}

{% else %}
  {% include "globals/banner_register.html" %}
{% endif%}


{% include "globals/footer.html"%}

{% block popup_container %}
{% include "globals/popup_container.html"%}
{% endblock %}
<!--
<div class="popup" role="alert">
	<div class="popup-container">
    <div id="popup-content">
    </div>
	<a href="#0" class="popup-close img-replace">Close</a>
	</div>
</div>
-->
{% endtimezone %}
</body>
</html>