<section class="benefits container15">
<h3>Нужно отправить документы или посылку близким?</h3>
<p>Сервис <strong>ЯЗабе.</strong>ру помогает экономить время и деньги на доставке</p>
<div class="columns">
	<div class="c4 xsc12">
	<div class="one-ben">
		<img src="/static/files/ben1.jpg">
		<div class="txt">
			    	<div class="num">1</div>
			    	<h4>Дешевле, чем<br>транспортыми компаниями</h4>
					<p>Не нужно ехать до пункта приема и измерять габариты посылки.<br>Цена доставки решается обоюдно добрыми людьми, а не установленными тарифами</p>
		</div>
		
	</div>
	</div>
	<div class="c4 xsc12">
	<div class="one-ben">
		<img src="/static/files/ben2.jpg">
		<div class="txt">
			    	<div class="num">2</div>
			    	<h4>Быстрее, чем<br>по почте</h4>
					<p>Сервис не ограгичивает вас никакими правилами и бланками.<br>Посылки могут быть доставлены день в день и точно не перепутаются в сортировочном центре.</p>
		</div>
	</div>
	</div>
	
	<div class="c4 xsc12">
	<div class="one-ben">
		<img src="/static/files/ben3.jpg">
				<div class="txt">
			    	<div class="num">3</div>
			    	<h4>Удобнее, чем<br>самому</h4>
					<p>Отправить посылку в 2 клика.<br>Первым вы размещаете посылку, вторым выбираете перевозчика.<br>Все просто и легко!</p>
		</div>
	</div>
	</div>
</div>
<button href="#new-task-sender" class="popup-trigger btn blu">Отправить посылку</button>
</section>