{% load calendar %}
<div class="inpt {{container_class}}">
  <p class="direction-lbl">
  {% if label %}
  <label for="{{id}}" class="input">{{label}}</label>
  {% endif %}
  <input {% if url %}onkeyup="{{name}}_update()"{% endif%}id="{{id}}" name="{{name}}" class="{{class}}" value="{{value}}" placeholder="{{placeholder}}">
  {% if show_calendar %}
  {% calendar id calendar_d %}
  {% endif %}
  </p>
  <div class="list-container">
    <span class="input-error" id="{{id}}_error"></span>
  </div>
</div>
{% if url %}
<script>
  var {{name}}_hints=[]
  $('#{{name}}').autocomplete({source:{{name}}_hints})
  function {{name}}_update() {
    $('#{{name}}').autocomplete('disable')
    $.ajax({
      url:'{{url}}',
      data: {
        search: $('#{{name}}').val()
      },
      dataType:'json',
      success: function(data, textStatus, jqXHR) {
        {{name}}_hints = data
        $('#{{name}}').autocomplete('enable')
        $('#{{name}}').autocomplete({source:{{name}}_hints})
        $('#{{name}}').autocomplete( "search");
      }
    })
  }
</script>
{% endif %}