<section class="benefits container15">
<h3>Как перевозить с ЯЗабе.ру</h3>

<div class="columns">
	<div class="c4 xsc12">
	<div class="one-ben">
		<img src="files/search-men.png">
		<div class="txt">
			    	<div class="num">1</div>
			    	<h4>Найдите заказ</h4>
					<p>Выберите подходящую для вас заявку на доставку и предложите свою цену за нее</p>
		</div>
		
	</div>
	</div>
	<div class="c4 xsc12">
	<div class="one-ben">
		<img src="files/whichsend.png">
		<div class="txt">
			    	<div class="num">2</div>
			    	<h4>Договоритесь о встрече</h4>
					<p>После подтвержения вас, как исполнителя договоритесь с отправителем об удобном месте встречи</p>
		</div>
	</div>
	</div>
	
	<div class="c4 xsc12">
	<div class="one-ben">
		<img src="files/tyourcash.png">
				<div class="txt">
			    	<div class="num">3</div>
			    	<h4>Получите оплату</h4>
					<p>По прибытию в назначенное место получите вознаграждение за доставку у плучателя</p>
		</div>
	</div>
	</div>
</div>
<button class="btn orng">Найти заказ</button>
</section>