<section class="benefits container15">
<h3>Как отправлять посылки с ЯЗабе.ру?</h3>

<div class="columns">
	<div class="c4 xsc12">
	<div class="one-ben">
		<img src="files/search-men.png">
		<div class="txt">
			    	<div class="num">1</div>
			    	<h4>Найдите превозчика</h4>
					<p>Отправьте понравившемуся вам перевозчику предложение на доставку вашей посылки</p>
		</div>
		
	</div>
	</div>
	<div class="c4 xsc12">
	<div class="one-ben">
		<img src="files/whichsend.png">
		<div class="txt">
			    	<div class="num">2</div>
			    	<h4>Договоритесь о встрече</h4>
					<p>Выберите удобное место встречи для передачи посылки перевозчику </p>
		</div>
	</div>
	</div>
	
	<div class="c4 xsc12">
	<div class="one-ben">
		<img src="files/yourcash.png">
				<div class="txt">
			    	<div class="num">3</div>
			    	<h4>Оплатите доставку при получении</h4>
					<p>Вы удивитесь на сколько быстро посылка окажется у получателя</p>
		</div>
	</div>
	</div>
</div>
<button class="btn blu">Отправить посылку</button>
</section>