<section class="transport-facts container15">
<h3>Станьте перевозчиком ЯЗабе.ру</h3>
<p>На нашем сервисе люди из крупных и маленьких городов помогают друг другу с доставкой малогабаритных грузов</p>
<div class="columns">
	<div class="c3 xsc12">
	<div class="one-fact">
		<div class="one-fact-inner">
			<h4>Заявок на отправку</h4>
			<div class="fact-num"><span class="t-qty">{{count_waiting_parcels}}</span><span>посылок и документов</span></div>
		</div>
	</div>
	</div>
	<div class="c3 xsc12">	
	<div class="one-fact fact-fill">
		<div class="one-fact-inner">
			<h4>Зарегистрировалось</h4>
			<div class="fact-num"><span class="count">{{count_riders}}</span><span>перевозчиков</span></div>
		</div>
	</div>
	</div>	
	<div class="c3 xsc12">
	<div class="one-fact">
	<div class="one-fact-inner">
			<h4>Завершено</h4>
			<div class="fact-num"><span class="t-qty">{{count_delivered_parcels}}</span><span>сделок</span></div>
	</div>
	</div>
	</div>	
	<div class="c3 xsc12">
	<div class="one-fact">
	<div class="one-fact-inner">
			<h4>Прибыль перевозчиков</h4>
			<div class="fact-num"><span class="t-qty">{{total_income}}</span><span>рублей</span></div>
	</div>
	</div>
	</div>		

</div>
<!--
<button class="btn blk">Зарегистрируйтесь бесплатно
</button>
-->
</section>