<section id="transporter" class="container15">
<div class="columns">
	<div class="c6 xsc12"><img src="/static/files/transporter.jpg">
	</div>
	<div class="c6 xsc12">
	<div class="transporter-txt">
	<h2>Едете в другой город?<br>Сэкономьте на проезде!</h2>
	<p>Вы поможете людям доставить товары быстро и дешево. А попутчики-посылки не будут отвлекать вас от дороги!</p><p>Число мест ограничено только грузоподъемностью вашего автомобиля или местом в рюкзаке!</p>
	<button href="#add-transport" onclick="loadPopup('/transport/add_trip')" class="popup-trigger btn orng">Предложить доставку</button>
	</div>
	</div>
</div>
</section>