<!-- авторизация -->
<div id="enter" class="login-form">
  <h4>Войти <a href="#" onclick="loadPopup('/auth/register')">Еще нет аккаунта?</a></h4>
  <div class="auth-signin">
    <p>Авторизуйтесь через социальные сети</p>
    <div data-social="fb" title="Facebook" class="social-login-fb" onclick="login_using('facebook')">
      <img src="/static/files/fb-oauth.svg">
    </div>
<!--    
    <div data-social="vk" title="Vkontakte" class="social-login-vk" onclick="login_using('vkontakte')">
      <img src="/static/files/vk-oauth.svg">
    </div> 
    <div data-social="ok" title="Odnoklassniki" class="social-login-ok" onclick="login_using('odnoklassniki')">
      <img src="/static/files/ok-oauth.svg">
    </div> 
    <div data-social="ya" title="Yandex" class="social-login-ya" onclick="login_using('yandex')">
      <img src="/static/files/yandex-oauth.svg">
    </div>
-->    
    <div data-social="gl" title="Google+" class="social-login-gl" onclick="login_using('google')">
      <img src="/static/files/google-oauth.svg">
    </div>
  </div>
  <div class="tradition-reg">
    <p>или войдите по логину/паролю</p>
    <p><input id="user_id" type="text" value="" placeholder="Телефон или E-mail"></p>
    <p><input id="password" type="password" value="" placeholder="Пароль"></p>
    <p><button onclick="login_with_cr()" class="btn noactive blk">Войти в ЯЗабе.ру</button></p>
  </div>
  <p class="haveaccount">Забыли пароль? <a href="#">Восстановить доступ</a></p>	
</div>