<div class="forgotpass-reg">
  <form method="post" action="">
    {% csrf_token %}
    <h4>Сменить пароль</h4>
    {% if has_password %}
    <p><input type="password" name="old_password" value="" placeholder="Старый пароль"></p>
    {% endif %}
		<p><input type="password" name="new_password1" value="" placeholder="Новый пароль"></p>
		<p><input type="password" name="new_password2" value="" placeholder="Подтвердите пароль"></p>
		<p><button type="submit" class="btn noactive blk">Сменить пароль</button></p>
  </form>
</div>
