{% extends "myprofile/index.html" %}

{% block profile_content %}
  <h1>Under construction</h1>
  <div class="user-post container15">
    <h2>Сообщения</h2>
    <div class="user-reviews">
      <div class="user-reviews-row columns">
        <div class="avatar c2"><div class="avatar"><a href="#"><img src="avatars/av6.jpg" /></a></div></div>
        <div class="av-desc c10">
          <div class="av-name"><a href="#"><strong>Николай М.</strong></a> <span>12:35</span></div>
          <p class="desc">Елена, здравствуйте, если хотите, могу забрать ваш заказ сегодня в районе м. Сходненская около 18.00</p>		
        </div>
      </div>
      <div class="user-reviews-row columns read">
        <div class="avatar c2"><div class="avatar"><a href="#"><img src="avatars/av2.jpg" /></a></div></div>
        <div class="av-desc c10">
        <div class="av-name"><a href="#"><strong>Виктор А.</strong></a> <span>17 января 2018</span></div>
        <p class="desc">пришлите, пожалуйста, ссылку на профиль вконтакте</p>
        </div>
      </div>
      <div class="user-reviews-row columns read">
        <div class="avatar c2"><div class="avatar"><a href="#"><img src="avatars/av3.jpg" /></a></div></div>
        <div class="av-desc c10">
        <div class="av-name"><a href="#"><strong>Анна А.</strong></a><span>13 января 2018</span></div>
        <p class="desc">Перевозка &laquo;Samsung Galaxy Note 8 Case, Zizo Proton 2.0 Cover &raquo;</p>
        </div>
      </div>
      <div class="user-reviews-row columns read">
        <div class="avatar c2"><div class="avatar"><a href="#"><img src="avatars/av5.jpg" /></a></div></div>
        <div class="av-desc c10">
        <div class="av-name"><a href="#"><strong>Олег М.</strong></a> <span>11 января 2018</span></div>
        <p class="desc">ну за 100 р довезу</p>
        </div>
      </div>
      <div class="user-reviews-row columns read">
        <div class="avatar c2"><div class="avatar"><a href="#"><img src="avatars/av5.jpg" /></a></div></div>
        <div class="av-desc c10">
        <div class="av-name"><a href="#"><strong>Олег М.</strong></a> <span>2 января 2018</span></div>
        <p class="desc">Новое предложение по доставке. Желаемая цена - 120 руб.</p>
        </div>
      </div>
      <div class="user-reviews-row columns read">
        <div class="avatar c2"><div class="avatar"><a href="#"><img src="avatars/no-avatar.png" /></a></div></div>
        <div class="av-desc c10">
        <div class="av-name"><a href="#"><strong>Администратор</strong></a> <span>1 января 2018</span></div>
        <p class="desc">Рады приветствовать вас в сервисе Язаберу! теперь вы свободно можете отправлять и доставлять посылки по всему миру!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
