{% extends "myprofile/index.html" %}

{% block profile_menu %}
  <ul>
      <li><a href="/profile/">Профиль</a></li>
      <li><a href="/profile/messages">Сообщения {{new_messages.count}}</a></li>
      <li><a href="/profile/deliveries">Ваши поездки</a></li>
      <li><a class="active" href="/profile/parcels">Отправления</a></li>
      <li><a href="/profile/reviews">Отзывы</a></li>
    </ul>
{% endblock %}

{% block profile_content %}
  {% include "myprofile/parcel_list.html" with pending_parcels=pending_parcels deliveries_for_me=deliveries_for_me %}
{% endblock %}