{% extends "myprofile/index.html" %}

{% block profile_menu %}
  <ul>
      <li><a href="/profile/">Профиль</a></li>
      <li><a href="/profile/messages">Сообщения {{new_messages.count}}</a></li>
      <li><a href="/profile/deliveries">Ваши поездки</a></li>
      <li><a href="/profile/parcels">Отправления</a></li>
      <li><a class="active" href="/profile/reviews">Отзывы</a></li>
    </ul>
{% endblock %}

{% block profile_content %}
<div class="user-name container15">		
  <h2>Отзывы пользователей</h2>
  <div class="user-reviews">
  {% for r in reviews%}
    {% include "comments/review.html" with review=r%}
  {% endfor %}
  </div>
</div>
{% endblock %}
