  <div class="deal-questions">
    <div class="deal-questions-row">
      <div class="avatar"><a href="#"><img src="avatars/av6.jpg"></a></div>
      <div class="av-desc">
      <div class="av-name"><a href="#"><strong>Николай М.</strong></a></div>
      <div class="av-trtype"><span>7 часов назад</span></div>
      </div>
      <p class="desc">Возможно ли встретиться на Киевском вокзале 10 февраля в 17.40-17.50?</p>
      <div class="if-auth to-answer"><a href="#">Ответить</a></div>
    </div>	
    <div class="deal-questions-row offset-one">
      <div class="avatar"><a href="#"><img src="avatars/av1.jpg"></a></div>
      <div class="av-desc">
      <div class="q-forward-to"><svg id="icon-arrow" viewBox="0 0 20 17" width="20px" height="17px" fill="#b4b9cb">
              <g xmlns="http://www.w3.org/2000/svg" transform="translate(-1033 -789)"><path fill="#b4b9cb" id="def-arrow" d="M1044.6 803.2a.81.81 0 0 1-.5.18.8.8 0 0 1-.8-.8v-3.24c-2.97.1-5.17.88-6.52 2.3a4.86 4.86 0 0 0-1.39 3.29.8.8 0 0 1-.75.83h-.04a.79.79 0 0 1-.79-.74c-.22-3.78.69-6.76 2.69-8.84a10.76 10.76 0 0 1 6.81-3.07v-3.3a.8.8 0 0 1 1.29-.63l7.91 6.39a.8.8 0 0 1 0 1.25zm.3-11.73v2.42a.5.5 0 0 1-.03.1.8.8 0 0 1-.05.21.78.78 0 0 1-.47.42.67.67 0 0 1-.25.05h-.01c-.06 0-3.93-.04-6.46 2.62-.8.85-1.4 1.87-1.74 2.99 1.79-1.7 4.55-2.57 8.21-2.57.44 0 .8.36.8.8v2.4l5.85-4.72z"></path></g>
          </svg><a href="#">Николай</a></div>
      <div class="av-name"><a href="#"><strong>Ольга С.</strong>(-отправитель)</a></div>
      <div class="av-trtype"><span>15 минут назад</span></div>
      </div>
      <p class="desc">Николай, в принципе возможно, сделайте свое предложение по стоимости доставки, пожалуйста</p>
      <div class="if-auth to-answer"><a href="#">Ответить</a></div>
    </div>	

  </div>